.dropdown {
    position: relative;
    display: inline-block;
    width:100%;

    background-color: gray;
    padding: .5rem;
  }

  .dropdown-container {
    min-width: 50%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: green;
    color: rgb(199, 199, 199);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    border-radius: 12px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }