.dropbtn:hover,
.dropbtn:focus {
    background-color: #3e8e41;
}


.stat-block-input-search:focus {
    border: 1px solid #3e8e41
}
.stat-block-input-search {
    width: 100%;
    padding: 1rem 0rem;

}
.dropdown a:hover {
    background-color: rgb(44, 44, 44);
    border: 1px solid #3e8e41;

}

.dropdown {
    position: relative;
    display: inline-block;
    border: none;
    background-color: black !important;
    width: 100%;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 230px;
    overflow: auto;
    border: none;
    z-index: 1;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    border: none;

    display: block;
}


.show {
    display: block;
}